.container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 90%;
  margin: 0 auto;
  height: 100vh;
}

.col {
  flex: 1;
  padding: 20px;
}

.text {
  color: #a1a1aa;
  margin-top: 30px;
}

.header {
  font-size: 60px;
  line-height: 66px;
  margin-top: 30px;
  font-family: "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
}

.buttonContainer {
  margin-top: 100px;
  display: flex;
  gap: 15px;
}
