.button {
  background-color: transparent;
  border: 2px solid #fff;
  color: #fff;
  width: 125px;
  height: 55px;
  font-weight: 600;
  border-radius: 10px;

  outline: none;
  font: inherit;
  text-align: center;
  text-decoration: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}
