/* BrandsContainer.module.css */
.brandsContainer {
  width: 100%;
  overflow: hidden;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 70px;
}

.brandsInner {
  display: flex;
  align-items: center;
  gap: 50px;
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brandText {
  font-size: 40px;
  font-weight: 800;
  white-space: nowrap;
}

.reallusion {
  margin-right: -90px;
}

.etherum{
  margin-right: 52px;
}
