/* BrandsContainer.module.css */
.scroller {
  max-width: 100%;
  overflow: hidden;
  position: relative;
  width: 100%;
  margin: 100px 0;
}

.brandsInner {
  display: flex;
  gap: 2rem;
  flex-wrap: nowrap; /* Make sure no wrapping occurs */
  animation: scroll var(--animation-duration, 15s) linear infinite;
}

.scroller[data-animated="true"] .brandsInner {
  width: max-content;
}

.realIluusion {
  margin-right: -90px;
}

@keyframes scroll {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-50%);
  }
}

.brandContainer {
  display: flex;
  align-items: center;
  gap: 8px;
}

.brandText {
  font-size: 40px;
  font-weight: 800;
  white-space: nowrap;
}

