.container {
  margin: auto;
  background-color: #fff;
  width: 100%;
  padding: 10rem 5%;
}

.innerContent {
  max-width: 1950px;
  margin: 0 auto;
}

.header {
  font-size: 40px;
  margin-bottom: 0.5rem;
  color: #000;
}

.subheader {
  font-size: 19px;
  color: #a1a1ab;
  font-weight: 600;
  margin-bottom: 2rem;
}
.featuresGrid {
  display: flex;
  gap: 1.5rem;
  margin-bottom: 3rem;
  justify-content: space-around;
  gap: 30px;
}

.smallerFeaturesGrid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 100%;
  justify-items: center;
  align-items: center;
  gap: 1rem;
}
.ellipse {
  width: 275px;
  height: 5.186px;
  background: linear-gradient(to right, #000000aa, #000, #000000aa);
  margin: 140px auto 140px auto;
  border-radius: 50%;
}

@media (max-width: 1000px) {
  .featuresGrid {
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 60px;
    margin: 80px 0;
  }

  .ellipse {
    margin: 60px auto 60px auto;
  }

  .container {
    padding: 6rem 5%;
  }

  .header {
    text-align: center;
  }

  .subheader {
    text-align: center;
  }

  .smallerFeaturesGrid {
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 680px) {
  .smallerFeaturesGrid {
    grid-template-columns: repeat(1, 1fr);
    gap: 1rem;
  }
}

@media (max-width: 600px) {
  .container {
    padding: 4rem 3%;
  }

  .header {
    font-size: 32px;
  }

  .subheader {
    font-size: 16px;
  }

  .featuresGrid {
    gap: 40px;
  }

  .smallerFeaturesGrid {
    gap: 0.5rem;
  }
}
