.container {
  text-align: center;
  padding: 140px 0;
  background-color: #fff;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 10px;
  color: #71717b;
  font-weight: 600;
}

.subHeading {
  font-size: 42px;
  font-weight: bold;
  margin-bottom: 20px;
  color: #141313;
  max-width: 770px;
  margin: 28px auto 43px auto;
  font-weight: 600;
}

.description {
  font-size: 18px;
  margin-bottom: 40px;
  color: #71717b;
  font-weight: 600;
}

.featuresGrid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  justify-items: center;
  gap: 55px;
  max-width: 800px;
  margin: 150px auto;
  color: #18181b;
}

@media (max-width: 1100px) {
  .featuresGrid {
    gap: 40px;
    padding: 0 20px;
  }

  .subHeading {
    font-size: 36px;
    margin: 20px auto 30px auto;
    max-width: 90%;
  }

  .description {
    font-size: 16px;
    margin-bottom: 30px;
  }

  .container {
    padding: 100px 0;
  }
}

@media (max-width: 768px) {
  .subHeading {
    font-size: 30px;
    margin: 15px auto 25px auto;
  }

  .description {
    font-size: 15px;
    margin-bottom: 25px;
  }

  .featuresGrid {
    gap: 30px;
    grid-template-columns: 1fr;
  }

  .container {
    padding: 80px 0;
  }

  .featuresGrid {
    margin: 60px auto;
  }
}
