/* Existing styles */
.footer {
  color: #fff;
  padding: 2rem 0;
  display: flex;
  justify-content: center;
  background-color: #000;
  position: relative;
  overflow: hidden;
}

.footerContent {
  width: 80%;
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.branding {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 1rem;
}

.subtitle {
  color: #aaa;
}

.header {
  font-size: 24px;
  font-weight: 400;
}

.logo {
  margin-bottom: 1rem;
}

.icon {
  background-color: white;
  height: 24px;
  border-radius: 8px;
}

.contactButton {
  padding: 0.5rem 1rem;
  background-color: #fff;
  color: #111;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-weight: bold;
}

.socialIcons {
  display: flex;
  gap: 1rem;
  align-items: center !important;
  margin-top: 40px;
}

.linksSection {
  display: flex;
  gap: 10rem;
}

.linksColumn {
  display: flex;
  flex-direction: column;
}

.linksColumn h3 {
  font-weight: bold;
  margin-bottom: 1rem;
}

.linksColumn ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.linksColumn li {
  margin-bottom: 0.5rem;
  color: #aaa;
  transition: color 0.3s ease;
}

.linksColumn li a {
  color: inherit;
  text-decoration: none;
}

.linksColumn li a:hover {
  color: #fff;
  width: 23px;
}

.iconTelegram {
  border-radius: 50%;
  background-color: #fff;
  width: 24px;
  height: 24px;
  overflow: hidden;
}

.facebookIcon {
  background-color: #fff;
  width: 24px;
  height: 24px;
  overflow: hidden;
  margin-bottom: 2px;
  border-radius: 10px;
}

.iconImage {
  max-width: 24px;
  max-height: 24px;
}

.link {
  max-height: 24px;
}

.ellipse {
  width: 2009px;
  height: 200px;
  flex-shrink: 0;
  border-radius: 2009px;
  background: radial-gradient(
    50% 50% at 50% 50%,
    rgba(119, 96, 249, 0.45) 0%,
    rgba(75, 57, 147, 0) 100%
  );
  filter: blur(50px);
  position: absolute;
  bottom: -70px;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
  z-index: 20;
}

@media (max-width: 1700px) {
  .linksSection {
    display: flex;
    gap: 4rem;
  }
}

/* Responsive styles */
@media (max-width: 1024px) {
  .footerContent {
    width: 95%;
  }

  .linksSection {
    gap: 1rem;
  }
}

@media (max-width: 768px) {
  .footerContent {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }

  .branding {
    align-items: center;
  }

  .contactButton {
    align-self: center;
  }

  .socialIcons {
    justify-content: center;
  }

  .linksSection {
    gap: 6rem;
  }

  .linksColumn {
    align-items: center;
  }

  .linksColumn h3 {
    margin-top: 1rem;
  }
}

@media (max-width: 620px) {
  .linksSection {
    flex-direction: column;
    gap: 2px;
  }
}
