.container {
  width: 100%;
  overflow: hidden;
  margin-top: 80px;
}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.text {
  color: #71717a;
  font-family: "Red Hat Display", "Helvetica Neue", Arial, sans-serif;
}

.buttonContainer {
  display: flex;
  gap: 44px;
  margin-top: 40px;
}
